<form class="container">
  <ng-template #recursiveList >
    <div class="row">
      <ng-container *ngFor="let item of inputFields.section" class="col-md-12">
        <h2>{{item.name}}</h2>
          <ng-container *ngFor="let group of item.group" class="row">
              <h4>{{group.name}}</h4>
              <div *ngFor="let parameter of group.parameters" class="row">
                <app-dynamic-form-input class="col-md-12" [parameter]="parameter" (newValueChangeEvent)="changeItem($event)"></app-dynamic-form-input>
              </div>
          </ng-container>
          <!--ng-template #default>       
              <div class="col-md-3">
                  <div class="form-group" [formGroupName]="fromGroup.name">
                      <input [type]="item.type" [formControlName]="item.key" [placeholder]="item.title" [name]="item.key" />
                  </div>
              </div>
          </ng-template-->
      </ng-container>
      </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filterFields }"></ng-container>
  <button  (click)="removeProp()" mat-raised-button color="accent">Submit</button>
</form>